<!-- Buscador funcional -->
<div class="col-md-6 my-3">
    <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="criterio">
</div>
<hr />



<!-- primer ilera -->
<div class="row my-5">
    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="https://wallpapercave.com/wp/wp9052797.png" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Nombre de heroe: Omniman</h4>
                <p class="card-text">Nombre de pila: Nolan Grayson</p>
                <p class="card-text">Super Poder: Invencibilidad, Vuelo, Super Velocidad, Super Fuerza, etc.</p>
                <p class="card-text">Ciudad Natal: Viltrum</p>
                <p class="card-text">Debilidad: Moral humana</p>
                <p class="card-text">Empresa que lo publica: Image Comics</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="https://i.pinimg.com/originals/ad/da/45/adda45463d8f0cdc0394cd1a95a309ae.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Nombre de heroe: Ironman</h4>
                <p class="card-text">Nombre de pila: Tony Stark </p>
                <p class="card-text">Super Poder: Super inteligencia </p>
                <p class="card-text">Ciudad Natal: New York </p>
                <p class="card-text">Debilidad: Alcohol </p>
                <p class="card-text">Empresa que lo publica: Marvel Comics</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="https://images3.alphacoders.com/582/582109.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Nombre de heroe: Invincible </h4>
                <p class="card-text">Nombre de pila: Mark Grayson </p>
                <p class="card-text">Super Poder: Vuelo, Regeneración, Fuerza, Velocidad, etc. </p>
                <p class="card-text">Ciudad Natal: Desconocido </p>
                <p class="card-text">Debilidad: Frecuencias de sonido, Híbrido</p>
                <p class="card-text">Empresa que lo publica: Image Comics</p>
            </div>
        </div>
    </div>
</div>

<!-- segunda ilera -->
<div class="row my-5">
    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="https://images.hdqwalls.com/download/spiderman-the-web-crawler-25-1920x1080.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Nombre de heroe: Spider-Man </h4>
                <p class="card-text">Nombre de pila: Peter Benjamin Parker</p>
                <p class="card-text">Super Poder: Todo lo que una araña puede hacer (y más) </p>
                <p class="card-text">Ciudad Natal: New York, Queens </p>
                <p class="card-text">Debilidad: Resfriado </p>
                <p class="card-text">Empresa que lo publica: Marvel Comics</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="https://images.alphacoders.com/874/874371.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Nombre de heroe: Superman </h4>
                <p class="card-text">Nombre de pila: Clark Joseph Kent </p>
                <p class="card-text">Super Poder: Invencibilidad, Super Fuerza, Super Velocidad, Vision de calor, etc. </p>
                <p class="card-text">Ciudad Natal: Krypton | Smallville </p>
                <p class="card-text">Debilidad: Kryptonita </p>
                <p class="card-text">Empresa que lo publica: DC Comics</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="https://super-ficcion.com/wp-content/uploads/2019/11/moon-knight.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Nombre de heroe: Moon Knight </h4>
                <p class="card-text">Nombre de pila: Marc Spector (principal)</p>
                <p class="card-text">Super Poder: Avatar de Khonshu</p>
                <p class="card-text">Ciudad Natal: Desconocido</p>
                <p class="card-text">Debilidad: Trastorno de identidad disociativo (TID) </p>
                <p class="card-text">Empresa que lo publica: Marvel Comics</p>
            </div>
        </div>
    </div>
</div>