/* Barra de navegacion */
.navbar{
    padding: 1rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: white;
    color: black;
}

.texto-footer{
    margin: 25px 0 0 0;
}

.copyright{
    margin-top: 15px;
}

.seccion-oscura{
    margin: 1px 0 0 0;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color: #000000;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: #E8A4C9;
}

.texto-footer{
    margin: 30px 0 0 0;
}

.copyright{
    margin-top: 21px;
}

.formulario{
    padding-bottom: 15%;
}